{% extends 'index.html' %} {% block content %}

<!-- <h1>Hello World</h1>
{{ request.user }}
{{ request.user.is_authenticated }} will tell user is logged in or not -->
<p>You are in Home</p>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% if messages %} {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %} {% endif %}
        </div>
    </div>
</main>
{% endblock %}